.drawerbar{
    display: flex;
    align-items: center;
}
.drawer_header{
    display: flex;
    padding:20px 20px;
}
.drawer_image{
    height: 25px !important;
    width: 25px !important;
}

/* .drawer_section{
    display: flex;
    align-items: center;
} */
.h4{
    padding-left: 10px;
    padding-right: 10px;
}
.drawer_icon{
    height: 20px !important;
    width: 20px !important;
    padding-left: 20px;
}
/* .badge{
    padding-left: 40px !important;
} */
.deposit_slide{
    display: flex;
    align-items: center;
    padding-top: -10px;
}
.deposit_slide_drawer{
    display: flex;
    align-items: center;
    padding-top: -10px;
    /* background-color: lawngreen;
    margin-left: auto; */
}

.badge_text{
    display: flex;
    align-items: center;
}
.badge{
    display: flex;
    margin-left: 15px;
    align-items: center !important;
}

.footer_section{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 160px;
    border-bottom: 2px solid lightgrey;
}
.footer_section > h5{
    padding-left: 10px;
    font-size: small;
}
.footer_avatar{
    height: 25px !important;
    width: 25px !important;
}

.bottom_footer{
    display: flex;
    align-items: center;
}
.bottom_footer > h5{
    padding-left: 10px;
}
.footer_icon{
    height: 20px !important;
    width: 20px !important;
    padding-left: 20px;
}